  html, body { height: 100%; padding: 0; margin: 0}
      body { 
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        background: linear-gradient(to bottom, rgba(216, 39, 39, 0.4) 0%, rgba(255, 0, 0, 0.7) 80%), url("/public/imgs/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        overflow:hidden;
        color: white; 
        text-align: center;
    }

    button {  max-width: 100%;
        min-width: 300px;
        background-color: darkgreen;
        margin: 1em;
        border-radius: 1em;
        margin: 1em auto;
        font-size: 2em;
        font-weight: bold;
        border: none;
        box-shadow: none;
        color:white;
        font-size: 1em;
        padding: 0.5em;
    }
      #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
      #init-panel, #question-panel, #results-panel { flex: 1; padding: 1em; align-items: center; height: 800px; display: flex;}
      /* #mc-players-panel, #open-players-panel { position: absolute; right:0; top:0; width: 300px; background-color: red; color:white; overflow: scroll; height: 400px} */
      
      .container { display: flex; flex-direction: column; height: 100%;}
      .header, .content { flex:1; display: flex; justify-items: center; align-content: center;justify-content: center;align-items: center; flex-direction: column;}
      .content { flex:2; color: white;  z-index: 999}
      #intro-panel .header img { width: 50%; margin: 1em auto; }
      
      .winner-content {flex: 1; display:flex; flex-direction: column; font-size: 2em; background: blue; padding: 3em; border-radius: 2em; border: solid 5px white; margin: 0 5em;}
      #winner-dialog {position: absolute; width:100%; height: 100%; background: rgba(0, 0, 0, 0.185); align-items: center; justify-content: center;  }
      #winner, #winner-answer { color: red; font-weight: bold; text-transform: uppercase; font-size: 4em;}
      #winner-dialog h3 { margin: 0.5em; padding: 0; margin-top: 1em}

      #game-panel .header { position: absolute; top: 1em; right: 1px; }
    #game-panel .header img { width: 400px; margin-left: 5em}
    
    h1 { font-size: 1em; color: white}
    .qr { width: 150px; }
    .qr-box { padding: 1em; background-color: white;}
    .info-panel { position: absolute; left: 1em; top: 1em;  }
    .players { width: 300px; height: 400px; border: solid 1px white; background-color: rgba(0,255,0,0.4); border-radius: 2em; margin-left: 2em}
    .info-panel img, .info-side-panel img { width:300px; margin-top:2em; }
    .info-side-panel { margin-left: 2em }
    #mc-question, #open-question { font-size: 2.5em; font-weight: bold; flex:1; text-transform: uppercase; }
    #answer, #open-answer { 
    max-width: 100%;
    min-width: 300px;
    background-color: rgb(2, 65, 2);
    margin: 1em;
    border-radius: 3em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding:1em;
    }
    #mc-question-panel, #open-question-panel { margin: 0 5em; }
    .question-container { min-height: 800px;padding: 2em;
        display: flex;
    min-width: 1200px;
    background: rgb(2 103 2 / 72%);
    border-radius: 5em;
    flex-direction: column;
    border: solid 1px white;
     }
    #choices ul, #category-panel ul, #stealorkeep-panel ul { list-style: none;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    flex:1;
 }
    #choices li, #stealorkeep-panel li {     padding: 0.5em;
    max-width: 100%;
    min-width: 300px;
    background-color: rgb(0, 98, 0);
    margin: 1em;
    border-radius: 3em;
    margin: 1em auto;
    font-size: 2em;
    font-weight: bold;
} 

#category-panel ul {
    max-width: 100%;
}

#category-panel li {
    background-color: rgb(0, 98, 0);
    margin: 1em;
    border-radius: 3em;
    padding:1em;
    margin: 1em auto;
    font-size: 1.5em;
    font-weight: bold;
}


#category-panel ul { display: flex;
    flex-wrap: wrap;
    width: 1600px;
}

#category-panel li {
    /* width: 200px; */
    vertical-align: middle;
    text-transform: uppercase;
    background-color: darkgreen

}
    #choices { flex: 1 }
    #player-list ul, #spin-player-list ul {    list-style: none;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    }

    .admin-btn { display:none; }

    .first-buzzer { font-size: 2em; color: yellow}

    /* SPINWHEEL */
    @import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

.deal-wheel {
  --size: clamp(250px, 80vmin, 700px);
  --lg-hs: 0 3%;
  --lg-stop: 50%;
  --lg: linear-gradient(
      hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
      hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
    );
  
  position: relative;
  display: grid;
  grid-gap: calc(var(--size) / 20);
  align-items: center;
  grid-template-areas:
    "spinner"
    "trigger";
  font-family: "Girassol", sans-serif;
  font-size: calc(var(--size) / 21);
  line-height: 1;
  text-transform: lowercase;
}

.deal-wheel > * {
  grid-area: spinner;
}

.deal-wheel .btn-spin {
  grid-area: trigger;
  justify-self: center;
}

.spinner {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-areas: "spinner";
  width: var(--size);
  height: var(--size);
  transform: rotate(calc(var(--rotate, 25) * 1deg));
  border-radius: 50%;
  box-shadow: inset 0 0 0 calc(var(--size) / 40) hsl(0deg 0% 0% / 0.06);
  width: 800px;
    height: 800px;
    padding: 0px;
    margin: 0px;
}


.spinner * {
  grid-area: spinner;
}

.prize {
  position: relative;
  display: flex;
  align-items: center;
  /*padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 20);*/
  width: 50%;
  height: 50%;
  transform-origin: center right;
  transform: rotate(var(--rotate));
  user-select: none;
  text-transform: uppercase;
  font-size: 0.5em;
}
.prize span { 
    margin: 0 auto;
    padding-right: 4em;
    width: 250px;
    line-height: 1.2em;
}

.cap {
  --cap-size: calc(var(--size) / 4);
  position: relative;
  justify-self: center;
  width: var(--cap-size);
  height: var(--cap-size);
}

/* Hide select dropdown from SVG import file */
.cap select {
  display: none;
}

.cap svg {
  width: 100%;
}

.ticker {
  position: relative;
  left: calc(var(--size) / -15);
  width: calc(var(--size) / 10);
  height: calc(var(--size) / 20);
  background: var(--lg);
  z-index: 1;
  clip-path: polygon(20% 0, 100% 50%, 20% 100%, 0% 50%);
  transform-origin: center left;
}

/* .btn-spin {
  color: hsl(145, 100%, 50%);
  background: var(--lg);
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  padding: 0.9rem 2rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: opacity 200ms ease-out;
}

.btn-spin:focus {
  outline-offset: 2px;
}

.btn-spin:active {
  transform: translateY(1px);
} */

.btn-spin:disabled {
  cursor: progress;
  opacity: 0.25;
}

/* Spinning animation */
.is-spinning .spinner {
  transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
}

.is-spinning .ticker {
  animation: tick 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes tick {
  40% {
    transform: rotate(-12deg);
  }
}

/* Selected prize animation */
.prize.selected .text {
  color: white;
  animation: selected 800ms ease;
}

@keyframes selected {
  25% {
    transform: scale(1.25);
    text-shadow: 1vmin 1vmin 0 hsla(0 0% 0% / 0.1);
  }
  40% {
    transform: scale(0.92);
    text-shadow: 0 0 0 hsla(0 0% 0% / 0.2);
  }
  60% {
    transform: scale(1.02);
    text-shadow: 0.5vmin 0.5vmin 0 hsla(0 0% 0% / 0.1);
  }
  75% {
    transform: scale(0.98);
  }
  85% {
    transform: scale(1);
  }
}
    .spinner-image { z-index: 999; width: 200px; margin-left:300px; }
    
    .title { font-size: 4em;}
    .keep, .steal { width: 200px !important; height: 200px !important; border-radius: 100px !important; min-width:200px !important; padding:0 !important;     vertical-align: middle;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin:0 1em !important;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
    .keep { background-color: green !important; }
    .steal { background-color: red !important;  }

    #stealorkeep-panel ul { display: flex;}


    .players-panel h4 { margin-bottom: 1em;}
    #player-list ul li, #spin-player-list ul li { background-color: rgb(0, 98, 0); margin: 0.25em; padding: 0.25em; border-radius: 1em; font-size: 0.8em; text-transform: uppercase; }

    .buzzed-player { background-color: rgb(0,0,130) !important; color: black !important; }
    .answered-player { background-color: rgb(0, 0, 130) !important; color: white !important; }
    .winner-player { background-color: #ffb300  !important; color: white !important; font-weight: bold; }

    .winner-player::after, .correct-player:after {
  content: '\2713';
  display: inline-block;
  color: green;
  padding: 0 0 0 6px;
 
}

.incorrect-player:after {
  content: '\2717';
  display: inline-block;
  color: red;
  padding: 0 0 0 6px;
  
}

    .correct-player { background-color: rgb(0, 255, 0) !important; color: white !important; font-weight: bold; }
    .incorrect-player { background-color: rgb(130, 0, 0) !important; color: white !important; font-weight: bold; }
    
    .current-spin-player {background-color: rgb(130, 0, 0) !important; color: white !important; font-weight: bold; }
    .outofgame-spin-player {background-color: rgb(0, 0, 0) !important; color: white !important; font-weight: bold; }

    #logo { position: absolute; top: 1em; right: 1em; width: 20%; z-index: 0; }
    